{% extends "template.html" %} {% block conteudo %}
<style>
  body {
    background-color: #d8d6d6; /* Light Gray */
  }
  .container {
    padding: 0px;

    color: #333; /* Dark Gray */
  }
  h4 {
    text-align: center;

    color: #007bff; /* Blue */
  }
  span {
    color: #666; /* Dark Gray */
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; /* Light Gray */
    margin-bottom: 10px;
  }
  button[type="submit"] {
    width: 80%;
    margin-left: 15%;
    padding: 10px;
    background-color: #007bff; /* Blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .row {
    margin-top: 50px;
  }
</style>

<div class="container">
  <div
    class="col s6 offset-s3"
    style="border: 2px solid rgb(0, 0, 0); border-radius: 5px; margin-top: 50px"
  >
    <div class="center" style="margin-bottom: 20px">
      <h4>Área Restrita</h4>
      <span>{{campo_resultado2}}</span>
    </div>
    <div class="row">
      <form class="col s12" action="/login" method="post">
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <input id="usuario" name="usuario" type="text" class="validate" />
            <label for="usuario">Usuário</label>
          </div>
          <div class="input-field col s6 offset-s3">
            <input id="senha" name="senha" type="password" class="validate" />
            <label for="senha">Senha</label>
          </div>
          <button type="submit" name="action">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
