{% extends "template.html" %} {% block conteudo %}
<style>
  .container {
    padding: 0px;
    color: #333;
  }
  h5 {
    text-align: center;
    color: #007bff;
    
  }
  p{
    color: #666;
  }
</style>

<div class="container" style="font-size: 32px">
  <h5>Gatinhos: Fofura em Quatro Patas 🐱</h5>

  <p style="font-size: 28px">
    Os gatinhos são seres adoráveis que conquistam nossos corações com sua
    doçura e travessuras. Imaginar um mundo sem a presença desses pequenos
    felinos seria como perder um pouco de magia e encanto. Desde os seus suaves
    ronronados até os seus olhares curiosos e brincalhões, os gatinhos têm o
    poder de alegrar qualquer ambiente.
  </p>
  <p style="font-size: 28px">
    Eles são mestres na arte do relaxamento, encontrando conforto nos lugares
    mais inusitados, como uma caixa de papelão ou um feixe de sol que invade a
    sala. Suas habilidades atléticas são impressionantes, pulando de um móvel
    para o outro com uma graça incomparável. Mas, acima de tudo, os gatinhos têm
    um lugar especial em nossos corações, trazendo amor incondicional e alegria
    para nossas vidas.
  </p>
</div>
{% endblock %}
